
a {
    text-decoration: none;
}

footer {
    border:none !important;
}

#banner {
    width: 100%;
}

#head-callout {
    margin-bottom: 0px;
}

#nav-list {
    text-align: center;
}

.alert-panel {
    background-color: rgba(240, 65, 36, 0.67) !important;
}

.alert-row {
    background-color: rgba(240, 65, 36, 0.67) !important;
}

.menu > li > a {
    text-decoration: none;
}

.menu > li > a:hover {
    color: #003300;
}

.mistake {
    background-color: rgba(240, 65, 36, 0.5) !important;
    border: 2px solid #f04124 !important;
}

.success-panel {
    background-color: rgba(0, 102, 0, 0.5) !important;
}

.unavailable {
    display: none !important;
}

.vote-button {
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
}